body {
  background-color: whitesmoke;
}
h1{
  color: red;
}
h2{
  color: blue;
}

h3{
  color: blueviolet;
}
p {
  color: black;
}
*{ /* universal selector which will change font type of all. in case for if specified i wont change h2*/ 
  font-family: Arial, sans-serif;
}
/*  <p id="experience"> used id "experience" to bring this para in green css used # as id so in page experince alone displayed in greencolor check css*/
#experience{
  color: green;  
}